$box-shadow-value: 3px 3px 3px white;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=850&q=80');
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

h1 {
    margin: 2rem auto 1rem;
    font-size: 60px;
    font-weight: 600;
    color: #FDFDFE;
    text-shadow: 7px 7px 5px #AEBFDD;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .title {
//     margin: rem auto 1rem;
// }


.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    &__images {
        width: 20vw;
        height: 20vw;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: $box-shadow-value;
        transition: 0.7s;

        &:hover {
            // visibility: hidden;
            width: 25vw;
            height: 25vw;
        }

        &--hidden {
            // display: none;
            visibility: hidden;
        }

        &--big {
            width: 100%;
            height: 100%;
        }
    }
}


.planet-form {
    margin-bottom: 2rem;

    &__input {
        padding: .25rem .75rem;
        border-radius: 3px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    &__btn {
        border-radius: 3px;
        padding: .25rem .75rem;
        background-color: black;
        color: white;
        transition: 0.4s;

        &:hover {
            background-color: navy;
        }
    }
}

.scroll-back,
.scroll-forward {
    height: 30rem;
    background-color: black;
    color: white;
    width: 2rem;
    transition: 0.3s;

    &:hover {
        background-color: grey;
    }
}

.image-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.solarsystem {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 300px;
    background-image: url(../assets/solarsystem.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: $box-shadow-value;
    border-radius: 5px;

    &__planet {
        width: 25px;
        height: 25px;
        position: absolute;


        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, .1);

        }
    }

    #sun {
        top: 40%;
        width: 70px;
        height: 70px;
    }

    #mercury {
        top: 40%;
        right: 39%;
    }

    #earth {
        top: 49%;
        right: 30%;
    }

    #venus {
        top: 49%;
        left: 34%;
    }

    #mars {
        top: 67%;
        left: 28%;
    }

    #jupiter {
        height: 35px;
        width: 35px;
        top: 26%;
        right: 17%;
    }

    #saturn {
        height: 40px;
        width: 40px;
        top: 55%;
        left: 10%;
    }

    #uranus {
        top: 43%;
        right: 9%;
    }

    #neptune {
        height: 40px;
        width: 40px;
        bottom: 10%;
        left: 6%;
    }

}